{
    "presets": [
        ["env", {
            loose: true,
            modules: false
        }],
        "react"
    ],
    "env": {
        "commonjs": {
          "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}